#box_roof{
	position: relative;

	width: 0px;
	height: 0px;

	border-right: 360px solid transparent;
	border-left: 360px solid transparent;
	border-bottom: 100px solid brown;

	margin-top: -100px;
	margin-left: -60px;
}

#box{
	position: absolute;

	width: 600px;
	height: 600px;

	border-right: 30px solid brown;
	border-bottom: 30px solid brown;
	border-left: 30px solid brown;

	margin-top: 130px;
	margin-right: 60px;
	margin-left: 60px;

}

#cuckoo{
	position: absolute;

	width: 120px;
	height: 120px;
	background-color: black;

	border-top-right-radius: 50%;
	border-top-left-radius: 50%;

	margin-top: 25px;
	margin-left: 240px;

	

}
.bird{
	position: absolute;

	width: 30px;
	height: 50px;

	border: 1px solid red;

}

#head{
	
	width: 28px;
	height: 24px;
	background-color: red;

	border-radius: 50%;

	margin-left: 32px;
	margin-top: 15px;

}

#left_eye{

	width: 0px;
	height: 0px;

	border: 2px solid black;
	border-radius: 50%;

	margin-top: 10px;
	margin-left: 6px;

}


#right_eye{

	width: 0px;
	height: 0px;

	border: 2px solid black;
	border-radius: 50%;

	margin-top: 10px;
	margin-left: 19px;

}

#top_beak{

	width: 0px;
	height: 0px;

	border-bottom: 3px solid yellow;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;

	margin-top: 11px;
	margin-left: 10px;

}

#bottom_beak{

	width: 0px;
	height: 0px;

	border-top: 3px solid orange;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;

	margin-top: 15px;
	margin-left: 12px;

	z-index: 100;

}

#body{
	
	width: 40px;
	height: 50px;
	background-color: red;

	border-top-right-radius: 12%;
	border-top-left-radius: 12%;
	border-bottom-right-radius: 75%;
	border-bottom-left-radius: 70%;

	margin-left: 26px;
	margin-top: 36px;

}

#left_wing{

	width: 8px;
	height: 45px;
	background-color: red;

	border-top-right-radius: 0%;
	border-top-left-radius: 100%;
	border-bottom-left-radius: 60%;
	border-bottom-right-radius: 90%;

	margin-top: 38px;
	margin-left: 20px;

}

#right_wing{

	width: 8px;
	height: 45px;
	background-color: red;

	border-top-right-radius: 100%;
	border-top-left-radius: 0%;
	border-bottom-left-radius: 90%;
	border-bottom-right-radius: 60%;

	margin-top: 37px;
	margin-left: 64px;

}

#message{
	position: relative;

	text-align: center;
	color: white;
	font-size: 0.9em;

	margin-top: 23px;
	margin-left: -8px;

	border: none;

	z-index: 100;
}

#bird{
	position: relative;

	animation: cuckoo 60s infinite;

	width: 100px;
	height: 100px;

	border: 1px solid transparent;

	margin-top: 10px;
	margin-left: 10px;

	z-index: 100;
}

#bird:hover{
	animation: cuckoo 2s 1;
}

@keyframes cuckoo{

	0%, 100%{

		opacity: 0.0;
	}
	99%{
		opacity: 1;
	}
	99.5%{
		transform: scale(1.8, 1.8) translate( 0px, 30px);
		opacity: 1;
	}
	99.8%{
		opacity: 1;
	}

}

#face{
	position: relative;

	width: 400px;
	height: 400px;
	background-color: white;

	border: 1px solid black;
	border-radius: 50%;

	margin: auto;
	margin-top: 175px;
}

#second {
	position: absolute;

	animation: rotate 60s infinite steps(60);

	width: 0px;
	height: 0px;

	border-bottom: 210px solid red;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	border-radius: 40%;

	margin-left: 195px;
	margin-top: -10px;
	

}

#minute {
	position: absolute;

	animation: rotate 3600s infinite linear;

	width: 0px;
	height: 0px;

	border-bottom: 140px solid black;
	border-right: 3px solid black;
	border-left: 3px solid black;

	margin-left: 197px;
	margin-top: 60px;

}

#hour {
	position: absolute;

	animation: rotate 43200s infinite linear;

	width: 0px;
	height: 0px;

	border-bottom: 90px solid grey;
	border-right: 2px solid grey;
	border-left: 2px solid grey;

	margin-left: 198px;
	margin-top: 110px;

}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    transform-origin: center bottom;
  }

  100% {
    transform: rotate(360deg);
    transform-origin: center bottom;
  }
}

#center{
	position: absolute;

	width: 0px;
	height: 0px;

	border-radius: 50%;
	border: 6px solid black;

	margin-top: 194px;
	margin-left: 194px;
}