body{
	background-color: #E2AC7E;
}
main{
	font-family: Verdana;
	background-color: #F5F5DD;
	border: 4px dashed black;
	width: 680px;
	height: 600px;
}
h1{
	font-weight: bold;
	font-style: italic;
	font-size: 1.9em;
	text-align: center;
	border-bottom: 4px dashed black;
	margin: 0px;
}
p{
	margin: 30px;
	text-align: justify;
}
ul{
	text-align: center;
	list-style: none;
}
li::first-letter{
	font-size: 1.5em;
}