div{
	border: 1px dashed red;
	height: 100px;
}

.col-4, .col-6, .col-12{
	width: 100%;
}


@media screen and (min-width: 766px) and (max-width: 960px){
	.col-4{
		width: 50%;
	}
}
@media screen and (min-width: 961px){
	.col-4{
		width: 33%;
	}
	.col-6{
		width: 50%;
	}
	.col-12{
		width: 100%;
	}
}